# Go binary files
/bin/
/obj/
/*.exe
/*.exe~
/*.out

# Vendor directory
/vendor/

# Go workspace files
go.work
go.work.sum

# IDE or editor configurations
*.idea/
*.vscode/
*.swp
*.swo

# Test binary files
*.test

# Coverage files
*.cov
coverage.out

# Dependency directories
.gopath/
.gocache/

# vscode
.DS*

# build files
info.plist

# do not include the builds
/dist/
Asteroids.dmg
